set -l os (uname)
set -l machine (uname -n)
set -l arch (uname -m)

{{ if eq .chezmoi.os "darwin" -}}
eval (/opt/homebrew/bin/brew shellenv)
{{ end -}}
if test "$os" = Linux
	# if not nzxt-arch or if not bluefin.local
	if test "$machine" != nzxt-arch -a "$machine" != bluefin-dx -a "$arch" != aarch64
			eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
	end
end

set -gx PATH "{{ .chezmoi.homeDir }}/.local/bin" $PATH

if status is-interactive
  # Commands to run in interactive sessions can go here
  set -gx GPG_TTY (tty)

  set -U PROJECT_PATHS ~/workspace
  set -gx DISPLAY :0

  # Shell plugins and completions
  navi widget fish | source
  direnv hook fish | source
  starship init fish | source
  atuin init fish | source
  kubectl completion fish | source

  # Add aliases
  source ~/.shell/aliases.sh
  # Add paths
	{{ if eq .chezmoi.os "darwin" }}
  fish_add_path ~/bin/
	{{ end }}
  fish_add_path ~/.bin/
  fish_add_path ~/.local/bin/
  fish_add_path ~/.yarn/bin/
  fish_add_path ~/.krew/bin/
  fish_add_path ~/.jbang/bin/
  fish_add_path ~/.cargo/bin/
end

if status is-login
  # Commands to run in login shells can go here
end

set fish_greeting

{{ if eq .chezmoi.arch "arm64" }}
set -gx EDITOR vim
{{ else }}
set -gx EDITOR lvim
{{ end }}

set -gx FUNCTIONS_CORE_TOOLS_TELEMETRY_OPTOUT 1
set -gx AZURE_DEV_COLLECT_TELEMETRY "no"

# pnpm
set -gx PNPM_HOME "{{ .chezmoi.homeDir }}/.local/share/pnpm"
set -gx PATH "$PNPM_HOME" $PATH
# pnpm end

# Set nvm default version
set -gx nvm_default_version lts/jod
