[user]
  name = {{ .name }}
  email = {{ .email }}
{{- if .signing_key }}
  signingkey = {{ .signing_key }}
[commit]
  gpgsign = true
[tag]
  gpgsign = true
{{- end }}
[gpg]
  program = gpg
[credential]
{{- if eq .chezmoi.os "linux" }}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- else }}
  helper = cache
{{- end }}
{{- else }}
  helper = cache
{{- end }}
[alias]
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset (%ad) %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=relative
  hist = log --graph --full-history --all --pretty=format:'%Cred%h%Creset (%ad) %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=relative
  st = status
  ci = commit
  msg = show -s --format=%B
[color]
  diff = auto
  status = auto
  branch = auto
[apply]
  whitespace = nowarn
[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[core]
  excludesfile = ~/.gitignore_global
  editor = code --wait
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = "code --wait "
[diff]
  tool = vscode
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[pull]
  rebase = true
